<a href="https://colab.research.google.com/github/ArizarAea/ArizarAea/blob/main/BigQuery_bquxjob_288e20fe_183d686cabc.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# @title Setup
from google.colab import auth
from google.cloud import bigquery
from google.colab import data_table

project = 'aea-ga4-test' # Project ID inserted based on the query results selected to explore
location = 'EU' # Location inserted based on the query results selected to explore
client = bigquery.Client(project=project, location=location)
data_table.enable_dataframe_formatter()
auth.authenticate_user()

## Reference SQL syntax from the original job
Use the ```jobs.query```
[method](https://cloud.google.com/bigquery/docs/reference/rest/v2/jobs/query) to
return the SQL syntax from the job. This can be copied from the output cell
below to edit the query now or in the future. Alternatively, you can use
[this link](https://console.cloud.google.com/bigquery?j=aea-ga4-test:EU:bquxjob_288e20fe_183d686cabc)
back to BigQuery to edit the query within the BigQuery user interface.

In [2]:
# Running this code will display the query used to generate your previous job

job = client.get_job('bquxjob_288e20fe_183d686cabc') # Job ID inserted based on the query results selected to explore
print(job.query)

SELECT
  dispo,
  --purchase_2,
  count(dispo),
  DATE(initial_timeStamp)
FROM `aea-ga4-test.analytics_319329112.dispo_sessions_data`
--WHERE DATE(initial_timeStamp)="2022-10-04"
WHERE DATE(initial_timeStamp)
  BETWEEN "2022-10-11"  AND "2022-10-12"
  AND dispo="OK"
GROUP BY
  DATE(initial_timeStamp),
  dispo
  --purchase_2,

# Result set loaded from BigQuery job as a DataFrame
Query results are referenced from the Job ID ran from BigQuery and the query
does not need to be re-run to explore results. The ```to_dataframe```
[method](https://googleapis.dev/python/bigquery/latest/generated/google.cloud.bigquery.job.QueryJob.html#google.cloud.bigquery.job.QueryJob.to_dataframe)
downloads the results to a Pandas DataFrame by using the BigQuery Storage API.

To edit query syntax, you can do so from the BigQuery SQL editor or in the
```Optional:``` sections below.

In [3]:
# Running this code will read results from your previous job

job = client.get_job('bquxjob_288e20fe_183d686cabc') # Job ID inserted based on the query results selected to explore
results = job.to_dataframe()
results

  dispo    f0_         f1_
0    OK  44449  2022-10-11

## Show descriptive statistics using describe()
Use the ```pandas DataFrame.describe()```
[method](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.describe.html)
to generate descriptive statistics. Descriptive statistics include those that
summarize the central tendency, dispersion and shape of a datasetâ€™s
distribution, excluding ```NaN``` values. You may also use other Python methods
to interact with your data.

In [ ]:
results.describe()

In [4]:
results.describe()

           f0_
count      1.0
mean   44449.0
std        NaN
min    44449.0
25%    44449.0
50%    44449.0
75%    44449.0
max    44449.0